[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/sensible"]
	path = .vim/pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/plugins/start/sonokai"]
	path = .vim/pack/plugins/start/sonokai
	url = https://github.com/sainnhe/sonokai.git
[submodule ".vim/pack/plugins/start/vim-buffergator"]
	path = .vim/pack/plugins/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/plugins/start/repeat"]
	path = .vim/pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/sleuth"]
	path = .vim/pack/plugins/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/plugins/start/unimpaired"]
	path = .vim/pack/plugins/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
